*{margin: 0; padding: 20px;}

body{
    background-color: white;
}
.body{
    background-color: black;
    display: flex;
    border-radius: 25px;
    height: 800px;

}
.leftside{
    border-radius: 15px 0px 0px 15px;
    background-color: white;
    flex: 1;


}
.chat{

    background-color: antiquewhite;
    flex: 20;
    
}
.chatlog{
    flex: 30;
    background-color: aqua;
    border-radius: 0px 15px 15px 0px;

    
}
